html {
	height: 100%;
}

body {
	background: #fffff1;
	height: 100%;
}

p {
	margin: 0px;
}


div.body {
	border: 1px;
	background: #ffff91;
	height: 80%;
}


/* main */
div.main-div {
	background: #fff111;
	height: 30%;
}

div.main-content {
	height: 100%;
	width: 50%;
	margin: auto;
	text-align: center;
}

div.main-content div.steps {
	height: 90%;
	width: 100%;
	margin: 5px;
}

div.main-content p {
	font-size: 20px;
}

img.step-img {
	width: auto;
    max-height: 70%;
}

p.step-text {
	width: 100%;
}


/* sub */
div.sub-div {
	text-align: center;
	background: #ff9999;
}

div.sub-div img {
	display: none;
}

div.sub-div div {
	width: 20%;
}

/* step */
div.steps {
	display: inline-block;
	background: #999999;
	padding: 5px;
	margin: 3px;
}

